@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* GENERAL STYLING */

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif; 
    overflow-x: hidden;
}

p {
    color: rgb(85,85,85);
}

/* TRANSITION */

a, .btn{
    transition: all 300ms ease;
    text-decoration: none;

}

/* NAVBAR STYLING */
nav, 
.nav-link ul {
    display: flex;
}

nav {
    justify-content: space-around;
    height: 17vh;
    align-items: center;
}

.nav-link ul{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181)
}

.logo{
    font-size: 2rem;
    cursor: default;
}

/* HAMBURGER MENU STYLE */

#hamburger-nav {
    display: none;

}

.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    background-color: white;
    width: fit-content;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 9999;

}

.menu-links ul li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:nth-child(2){
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
}


/* CONTENT STYLING */

#content-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: fit-content;
    align-items: center;
    /* padding: 3rem 6rem; */
}

section {
    /* padding: 3rem 0rem; */
    width: 100%;
    height: 94vh;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section h1 {
    font-size: 2.2rem;
    text-align: center;


}

.navigation-arrow, .navigation-arrow-narrow {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    height: 52px;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 300ms ease-in-out;

}

.navigation-arrow:hover, .navigation-arrow-narrow:hover {
    transform: rotate(180deg) translateY(-0.5rem);
    transition: all 300ms ease-in-out;
}

.navigation-arrow-narrow {
    display: none;
}

/* PROFILE STYLING */

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 83vh;
    padding-top: 0;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;

}

.logo-wrapper img {
    height: 400px;
    width: 400px;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    align-items:start;

}
.details-wrapper img {
    height: 48px;;
    width: 48px;
}

.details-wrapper a div {
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-radius: 30px;
    text-decoration: none;
    border-width: 1px;
    padding: 1rem 3rem;
    margin: 1rem 0;
    color: black;
}

.details-wrapper a div:hover {
    background-color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    color: white;
    border-color: white;

}

.details-wrapper p {
    font-size: 1.2rem;
}

.details-wrapper h1 {
    font-size: 3rem;
}

.details-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(0,0,0,0.6)
}

/* ABOUT STYLING */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.about-element {
    border-style: solid;
    width: 25vw;
    border-radius: 25px;
    border-color: rgba(0,0,0,0.3);
    padding: 1.5rem 1rem;
    margin: 0 1rem;
    height: 55vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-element h2 {
    margin-top: 1rem;
    height: 5vh;
}

.about-element p {
    height: 25vh;
}

.about-element img {
    height: 128px;
}

/* EXPERIENCE STYLING */

.experience-element img {
    height: 145px;
    padding: 0 1.5rem;
}

.experience-element {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 60vw;
    justify-content:start;
    align-items: center;
}

.experience-details {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-wrapper {
    display: flex;
    flex-direction: row;
}

.skill {
    border-style: solid;
    width: fit-content;
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.5rem 0.1rem 0;
}

/* PROJECTS STYLING */


.projects-container {
    display: flex;
    flex-direction: row;
}
.image-wrapper {
    height: 256px;
    width: 256px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

}

.project-element img {
    height: 256px;
    width: 256px;
    object-fit: cover;
}

.project-element {
    width:256px;
    height:400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-radius: 25px;
    border-color: rgba(0,0,0,0.1);
    padding: 2rem 1rem;
    margin: 2rem 1rem;
    text-align: center;

}


.project-buttons button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0.2rem 1rem;
    width: 6rem;
    border-radius: 20px;
    font-family: monospace;
    font-size: 1rem;
    margin: 0 0.2rem;
}

.project-buttons button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 150ms ease-in-out;
}

/* .code-button {
    /* max-width: 5px; */
    /* background-color: aqua;
    display: inline;
    height: fit-content;
    overflow: hidden;
    display: none;
}


.code-button:hover {
    display: inline;
    transition: all 300ms ease-in-out;
} */ 


/* CONTACT STYLING  */

.contact-wrapper img{
    height: 128px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    
}

.contact-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    padding: 2rem 1rem;
    border-color: rgba(0,0,0, 0.1);
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    width: 30vw;
    margin: 1.4rem;
    transition: all 150ms ease-in-out;
    color: black;
}

.contact-element:hover {
    transform: scale(1.03);
    /* border-color: rgba(0,0,0, 0.3); */
    box-shadow: 0 0.4rem 0.2rem gray;
    transition: all 150ms ease-in-out;

}
#contact .navigation-arrow, #contact .navigation-arrow-narrow{
    transform: rotate(0deg);
}

#contact .navigation-arrow:hover, #contact .navigation-arrow-narrow:hover {
    transform: translateY(-0.5rem);
}